*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
}
main:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
.action-box{
    border: 2px solid #d0d0d0;
    min-width: 350px;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 5;
}
.action-box h3{
    font-size: 2rem;
    text-align: center;
}
.action-box-buttons{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.action-box-buttons a{
    border-radius: 0.25rem;
    font-size: 2rem;
    text-decoration: none;
    padding: 0.25rem 2rem;
    border: 1px solid #d0d0d0;
    text-align: center;
    background-color: red;

}